<ion-view title="score">
    <ion-header-bar align-title="center" class="bar-calm">
        <a href="javascript:history.back();" class="button">返回</a>
        <h1 class="title">报送</h1>
    </ion-header-bar>

    <ion-content padding="true">
        <h2>【{{data.review_date}}】自评得分</h2>

        <div class="row">
            <div class="col col-50">
                <h3>基础管理得分：</h3>
            </div>
            <div class="col col-25">
                <h3>{{data.basicMgr.final}}分</h3>
            </div>
            <div class="col col-25">
                <h3>{{data.basicMgr.final|level}}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <h3>施工管理得分：</h3>
            </div>
            <div class="col col-25">
                <h3>-</h3>
            </div>
            <div class="col col-25">
                <h3>-</h3>
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <h3>本次考核得分：</h3>
            </div>
            <div class="col col-25">
                <h3>{{data.basicMgr.final}}分</h3>
            </div>
            <div class="col col-25">
                <h3>{{data.basicMgr.final|level}}</h3>
            </div>
        </div>
        
        <h3>整改记录汇总：</h3>
        <ol>
            <li ng-repeat="item in data.rects">
                <p>{{$index + 1}}. {{item.name}}</p>
                <img ng-src="{{item.image}}" style="width: 64px; height: 64px;">
            </li>
        </ol>
        
        <button class="button button-block button-positive" ng-click="report();">报 送</button>
    </ion-content>
</ion-view>