<ion-view title="login">
    <ion-header-bar align-title="center" class="bar-light">
        <a class="button" ng-click="toBack()">返回</a>
        <h1 class="title">平安工地</h1>
    </ion-header-bar>

    <ion-content padding="true">
        <div ng-hide="data.project || data.users">
            <div>
                <label class="item item-input item-select">
                    <span class="input-label">
                        省份：
                    </span>
                    <select>
                        <option value="湖北省" selected>湖北省</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">
                        项目：
                    </span>
                    <select ng-model="data.project" ng-options="item as item.name for item in data.projects">
                        <option value="" selected>请选择项目</option>
                    </select>
                </label>
            </div>
        </div>

        <div ng-show="data.project" ng-hide="data.unit">
            <div class="padding" ng-show="data.units">
                <span class="input-label">
                    建设单位：
                </span>
                <div class="item item-complex" ng-repeat="unit in data.units | filter: filterUnitConstructor">
                    <div class="item-content item-icon-right" ng-click="changeUnit(unit)">
                        {{unit.name}}
                        <i class="icon ion-ios7-arrow-forward"></i>
                    </div>
                </div>
            </div>

            <div class="padding" ng-show="data.units">
                <span class="input-label">
                    监理单位：
                </span>
                <div class="item item-complex" ng-repeat="unit in data.units | filter: filterUnitSupervisor">
                    <div class="item-content item-icon-right" ng-click="changeUnit(unit)">
                        {{unit.name}}
                        <i class="icon ion-ios7-arrow-forward"></i>
                    </div>
                </div>
            </div>

            <div class="padding" ng-show="data.units">
                <span class="input-label">
                    施工单位：
                </span>
                <div class="item item-complex" ng-repeat="unit in data.units | filter: filterUnitBuilder">
                    <div class="item-content item-icon-right" ng-click="changeUnit(unit)">
                        {{unit.name}}
                        <i class="icon ion-ios7-arrow-forward"></i>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="data.project && data.users">
            <h2>{{project.name}}</h2>

            <div class="list list-inset">
                <label class="item item-input item-select">
                    <span class="input-label">用户名：</span>
                    <select ng-model="data.username" ng-options="item.username as item.name for item in data.users">
                        <option value="" selected>请选择用户</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">密码：</span>
                    <input type="password" ng-model="data.password" placeholder="请输入密码">
                </label>
            </div>

            <button class="button button-block button-positive" ng-click="login()">
                登 陆
            </button>
        </div>
    </ion-content>
</ion-view>
