<ion-view title="create">
    <ion-header-bar align-title="center" class="bar-calm">
        <a class="button" ui-sref="^.dashboard">返回</a>
        <h1 class="title">安全检查[离线]</h1>
        <button class="button icon ion-trash-a" ng-click="remove()"></button>
    </ion-header-bar>

    <ion-content padding="true">
        <h2>安全检查[离线]</h2>

        <div class="list">
            <label class="item item-input">
                <div class="input-label">
                    名称：
                </div>
                <input type="text" ng-model="data.name" placeholder="请填写检查对象">
            </label>
        </div>

        <div class="list">
            <label class="item item-input">
                <div class="input-label">
                    问题描述：
                </div>
                <textarea type="text" ng-model="data.description" rows="10"></textarea>
            </label>
        </div>

        <div class="list" ng-repeat="image_url in data.images">
            <img ng-src="{{image_url}}" width="64" height="64">
        </div>

        <div class="button-bar">
            <button class="button button-block button-positive" ng-click="capture()">
                拍照
            </button>
            <button class="button button-block button-positive" ng-click="save()">
                保存
            </button>
        </div>
    </ion-content>
</ion-view>