<ion-view title="table">
    <ion-header-bar align-title="center" class="bar-calm">
        <a class="button" ui-sref="^.dashboard">返回</a> 
        <h1 class="title">{{data.table.name}}</h1>
        <button class="button icon ion-trash-a" ng-click="remove()"></button>
    </ion-header-bar>

    <ion-content padding="true">
        <table>
            <tr>
                <td>
                    当前得分：{{-data.score}}分，扣分项如下：
                </td>
            </tr>
            <tr ng-repeat="item in data.checked_items">
                <td>
                    {{item.full_index}}. {{item.comments}} {{-item.score}}分
                </td>
            </tr>
        </table>

        <ion-list>
            <ion-item ng-repeat-start="item in data.table.items" class="item-icon-right item" style="background-color: #eee; font-weight: bold;" ng-click="toggle($index, item)">
                <i class="icon ion-chevron-right" style="font-size: 16px; -webkit-transform: rotate({{ifHideSubItems[item.index]|rotate}});"></i>
                {{item.index}}. {{item.name}}
            </ion-item>
            <ion-item ng-hide="ifHideSubItems[item.index] == true" ng-repeat="level2 in item.items" class="item-icon-right item sub-item-{{item.index}}" ng-click="review($index, item, level2)" ng-repeat-end>
                <i class="icon ion-chevron-right" style="font-size: 16px;"></i>
                {{level2.index}}. {{level2.name}} 
                <i class="ion-checkmark balanced" style="font-size: 16px;" ng-show="level2.status && level2.status != 'UNCHECK'"></i>
                (<span style="color: green;">{{level2.pass}}</span>/<span style="color: red;">{{level2.fail}}</span>/<span style="color: gray;">{{level2.uncheck}}</span>)
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>