<ion-view title="create">
    <ion-header-bar align-title="center" class="bar-calm">
        <button class="button" ng-click="toBack()">返回</button>
        <h1 class="title">安全检查</h1>
    </ion-header-bar>

    <ion-content padding="true">
        <h2>安全检查</h2>

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    项目：
                </div>
                <select ng-model="data.project" ng-options="item as item.name for item in data.projects">
                    <option value="" selected>请选择项目</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    合同段：
                </div>
                <select ng-model="data.section" ng-options="item as item.name for item in data.sections | filter: {type: '标段'}">
                    <option value="" selected>请选择合同段</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    分部：
                </div>
                <select ng-model="data.branch" ng-options="item as item.name for item in data.branches | filter: {type: '分部'}">
                    <option value="" selected>请选择分部</option>
                </select>
            </label>

            <label class="item item-input">
                <div class="input-label">
                    检查对象：
                </div>
                <input type="text" ng-model="data.object" style="text-align: right;" />
            </label>
        </div>

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    检查类别：
                </div>
                <select ng-model="data.level1" ng-options="item.name as item.name for item in data.level1s">
                    <option value="" selected>请选择类别</option>
                </select>
            </label>
            <label class="item item-input item-select" ng-click="openModal($event)">
                <div class="input-label">
                    存在问题：
                </div>
                <span>{{ data.level3 }}</span>
            </label>
            <label class="item item-input">
                <div class="input-label">
                    存在问题(手写)：
                </div>
            </label>
            <textarea ng-model="data.comment" rows="5" style="border: 1px solid #eee; padding: 15px;"></textarea>
        </div>

        <ul style="display: block; padding: 6px; list-style: none;">
            <li ng-repeat="image in data.images" style="display: inline-block; position: relative; list-style: none; margin-right: 12px;">
                <img ng-src="{{image.uri}}" width="64">
                <i ng-show="image.uri" class="icon ion-close-circled" style="color: #970219;display: block;position: absolute;top: -8px;right: 2px;font-size: 20px;" ng-click="removePhoto(image)"></i>
                <i ng-show="image.url" class="icon ion-checkmark-circled" style="color: #58AA89;display: block;position: absolute;bottom: 6px;right: 4px;font-size: 20px;"></i>
                <p>{{image.date | date: 'yyyy-MM-dd'}}</p>
            </li>
        </ul>

        <script id="level3-modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <button class="button icon ion-arrow-left-a" ng-click="closeModal()"></button>
                    <h1 class="title">存在问题</h1>
                </ion-header-bar>
                <ion-content>
                    <ion-item ng-repeat-start="level2 in level1.items" class="item-icon-right item" style="background-color: #eee; font-weight: bold;" ng-click="toggle($index, level2)">
                        <i class="icon ion-chevron-right" style="font-size: 16px; -webkit-transform: rotate({{ifHideSubItems[level2.name]|rotate}});"></i>
                        {{$index + 1}}. {{level2.name}}
                    </ion-item>
                    <ion-item ng-hide="ifHideSubItems[level2.name] == true" ng-repeat="level3 in level2.items" class="item-icon-right item sub-item-{{level2.name}}" ng-click="select($index, level2, level3)" ng-repeat-end>
                        <i class="ion-checkmark balanced" style="font-size: 16px;" ng-show="level3.selected"></i>
                        {{level3.name}}
                    </ion-item>
                </ion-content>
            </ion-modal-view>
        </script>

        <div class="button-bar">
            <button class="button button-block button-positive" ng-click="takePhoto()">
                拍照
            </button>
            <button class="button button-block button-positive" ng-click="save()">
                保存
            </button>
        </div>
    </ion-content>
</ion-view>