<ion-view title="create">
    <ion-header-bar align-title="center" class="bar-calm">
        <button class="button" ng-click="toBack()">返回</button>
        <h1 class="title">安全检查</h1>
    </ion-header-bar>

    <ion-content padding="true">
        <h2>安全检查</h2>

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    项目：
                </div>
                <select ng-model="data.project" ng-options="item as item.name for item in data.projects">
                    <option value="" selected>请选择项目</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    合同段：
                </div>
                <select ng-model="data.section" ng-options="item as item.name for item in data.sections | filter: {type: '标段'}">
                    <option value="" selected>请选择合同段</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    分部：
                </div>
                <select ng-model="data.branch" ng-options="item as item.name for item in data.branches | filter: {type: '分部'}">
                    <option value="" selected>请选择分部</option>
                </select>
            </label>

            <label class="item item-input">
                <div class="input-label">
                    检查对象：
                </div>
                <textarea ng-model="data.object"></textarea>
            </label>
        </div>

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    检查类别：
                </div>
                <select ng-model="data.category" ng-options="item.group as item.group for item in data.categories">
                    <option value="" selected>请选择类别</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    存在问题：
                </div>
                <select ng-model="data.comment" ng-options="item.name as item.name for item in data.group.items">
                    <option value="" selected>请选择存在问题</option>
                </select>
            </label>
        </div>

        <div class="list" ng-repeat="image in data.images">
            <img ng-src="{{image.uri}}" width="64" height="64">
        </div>

        <div class="button-bar">
            <button class="button button-block button-positive" ng-click="capture()">
                拍照
            </button>
            <button class="button button-block button-positive" ng-click="save()">
                保存
            </button>
        </div>
    </ion-content>
</ion-view>