<ion-view>
    <ion-header-bar align-title="center" class="bar-calm">
        <button class="button" ng-click="toBack()">返回</button>
        <h1 class="title">[{{data.user.name}}]</h1>
    </ion-header-bar>

    <ion-content class="hide-on-keyboard-open">
        <div id="map" class="map">
            <div id="geolocation" class="icon ion-pinpoint" style="width: 36px; height: 36px; position: absolute; bottom: 80px; left: 20px; z-index: 1000; font-size: 28px; line-height: 36px; text-align: center; background-color: white; color: darkcyan; border-radius: 4px;" ng-click="geolocation()"></div>
            <button class="button col" style="position: absolute; bottom: 130px; right: 16px; z-index: 1000; width: 100px; min-height: 31px; height: 31px; line-height: 31px; border-color: #145fd7; background-color: #4a87ee; color: #fff;padding: 0 8px; min-width: initial; min-height: 31px; font-weight: 400; font-size: 13px; line-height: 32px; " ng-click="toEvaluation()">标准查询</button>
            <button class="button col" style="position: absolute; bottom: 80px; right: 16px; z-index: 1000; width: 100px; min-height: 31px; height: 31px; line-height: 31px; border-color: #145fd7; background-color: #4a87ee; color: #fff;padding: 0 8px; min-width: initial; min-height: 31px; font-weight: 400; font-size: 13px; line-height: 32px; " ng-click="toEvaluation()">内业查询</button>
        </div>
    </ion-content>

    <ion-footer-bar class="bar-positive">
        <div class="row" style="padding-top: 0; padding-bottom: 0;">
            <button class="button col" ng-click="toStandard()">我要记录</button>
            <button class="button col" ng-click="toCapture()">我的记录</button>
            <button class="button col" ng-click="toCheck()">我要标注</button>
        </div>
    </ion-footer-bar>
</ion-view>