<ion-view title="detail">
    <ion-header-bar align-title="center" class="bar-calm">
        <button class="button" ng-click="toBack()">返回</button>
        <h1 class="title">安全检查</h1>
        <button class="button icon ion-trash-a" ng-click="remove()" ng-if="data.isOffline"></button>
    </ion-header-bar>

    <ion-content padding="true">
        <div class="list card">
            <div class="item text-center">
                <p>检查编号：{{data.capture.uuid}}</p>
                <p>检查日期：{{data.capture.createAt | date: 'yyyy年MM月dd日'}}</p>
                <p>检查人：{{data.capture.user.name}}
                    <span ng-if="data.capture.user.unit.name">【{{data.capture.user.unit.name}}】</span>
                </p>
            </div>

            <div class="item item-body padding">
                <div class="row">
                    <div class="col">项目：{{data.capture.project.name}}</div>
                </div>
                <div class="row" ng-if="data.capture.section">
                    <div class="col">标段：{{data.capture.section.name}}</div>
                </div>
                <div class="row" ng-if="data.capture.branch">
                    <div class="col">分部：{{data.capture.branch.name}}</div>
                </div>

                <div ng-if="data.isOffline">
                    <div class="row">
                        <div class="col">类别：{{data.capture.level1}}</div>
                    </div>
                    <div class="row">
                        <div class="col">对象：{{data.capture.object}}</div>
                    </div>
                    <div class="row">
                        <div class="col">存在隐患：{{data.capture.level3}} {{data.capture.comment}}</div>
                    </div>
                    <div class="row">
                        <ul style="display: block; padding: 6px; list-style: none;">
                            <li ng-repeat="image in data.capture.images" style="display: inline-block; position: relative; list-style: none; margin-right: 12px;">
                                <img ng-if="!image.url" ng-src="{{image.uri}}" width="64">
                                <img ng-show="image.url" ng-src="{{baseUrl}}{{image.url}}" width="64">
                                <i ng-show="image.url" class="icon ion-checkmark-circled" style="color: #58AA89;display: block;position: absolute;bottom: 6px;right: 4px;font-size: 20px;"></i>
                            </li>
                        </ul>
                    </div>
                </div>

                <div ng-repeat="item in data.capture.archives" ng-if="!data.isOffline">
                    <hr>
                    <div class="row">
                        <div class="col">类别：{{item.level1}}</div>
                    </div>
                    <div class="row">
                        <div class="col">对象：{{item.object}}</div>
                    </div>
                    <div class="row">
                        <div class="col">存在隐患：{{item.level3}} {{item.comment}}</div>
                    </div>
                    <div class="row">
                        <ul style="display: block; padding: 6px; list-style: none;">
                            <li ng-repeat="image in item.images" style="display: inline-block; position: relative; list-style: none; margin-right: 12px;">
                                <img ng-if="!image.url" ng-src="{{image.uri}}" width="64">
                                <img ng-show="image.url" ng-src="{{baseUrl}}{{image.url}}" width="64">
                                <i ng-show="image.url" class="icon ion-checkmark-circled" style="color: #58AA89;display: block;position: absolute;bottom: 6px;right: 4px;font-size: 20px;"></i>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row" ng-if="data.capture.process.archives">
                    <div class="col">整改处理意见：</div>
                </div>
                <div class="col positive" ng-if="data.capture.process.archives">
                    <div ng-repeat="item in data.capture.process.archives">
                        {{item.user.name}}: {{item.comment}}
                        <br>
                        <div class="row">
                            <ul style="display: block; padding: 6px; list-style: none;">
                                <li ng-repeat="image in item.images" style="display: inline-block; position: relative; list-style: none; margin-right: 12px;">
                                    <img ng-if="!image.url" ng-src="{{image.uri}}" width="64">
                                    <img ng-show="image.url" ng-src="{{baseUrl}}{{image.url}}" width="64">
                                    <i ng-show="image.url" class="icon ion-checkmark-circled" style="color: #58AA89;display: block;position: absolute;bottom: 6px;right: 4px;font-size: 20px;"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="list" ng-if="data.files">
                <h4>生成报告下载地址：</h4>
                <div class="item" ng-repeat="item in data.files">
                    <a href="{{baseUrl}}/docx/{{data.captureId}}_{{item}}.docx">{{baseUrl}}/docx/{{data.captureId}}_{{item}}.docx/</a>
                </div>
            </div>

            <div class="button-bar" ng-if="data.capture.process.active == false">
                <button class="button button-positive" ng-click="toProcess()" ng-if="!data.isOffline && data.capture.process.active == false && data.capture.process.status == ''">
                    整改通知
                </button>
                <button class="button button-positive" ng-click="docxgen()" ng-if="!data.isOffline && data.capture.process.active == false && data.capture.process.status == 'END'">
                    生成报告
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
