<ion-view title="create">
    <ion-header-bar align-title="center" class="bar-calm">
        <button class="button" ng-click="toBack()">返回</button>
        <h1 class="title">日常巡检</h1>
    </ion-header-bar>

    <ion-content padding="true">
        <h2>日常巡检</h2>

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    检查用表：
                </div>
                <select ng-model="data.file" ng-options="item.file as (item.index + ' ' + item.name) group by item.group for item in data.files">
                    <option value="" selected>请选择表格</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    项目：
                </div>
                <select ng-model="data.project" ng-options="item as item.name for item in data.projects">
                    <option value="" selected>请选择项目</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    合同段：
                </div>
                <select ng-model="data.section" ng-options="item as item.name for item in data.sections | filter: {type: '标段'}">
                    <option value="" selected>请选择合同段</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    分部：
                </div>
                <select ng-model="data.branch" ng-options="item as item.name for item in data.branches | filter: {type: '分部'}">
                    <option value="" selected>请选择分部</option>
                </select>
            </label>

            <label class="item item-input">
                <div class="input-label">
                    对象：
                </div>
                <input type="text" ng-model="data.check_target">
            </label>
        </div>

        <button class="button button-block button-positive" ng-click="newCheck()">
            开始检查
        </button>
    </ion-content>
</ion-view>