<ion-view title="detail">
    <ion-header-bar align-title="center" class="bar-calm">
        <button class="button" ng-click="toBack()">返回</button>
        <h1 class="title">日常巡检</h1>
        <button class="button icon ion-trash-a" ng-click="remove()" ng-if="data.isOffline"></button>
    </ion-header-bar>

    <ion-content padding="true">
        <div class="list card">
            <div class="item text-center">
                <p>检查编号：{{data.check.uuid}}</p>
                <p>检查日期：{{data.check.date | date: 'yyyy年MM月dd日'}}</p>
                <p>检查人：{{data.check.user.name}}【{{data.check.unit.name}}】</p>
            </div>

            <div class="item item-body padding">
                <div class="row">
                    <div class="col">项目：{{data.check.project.name}}</div>
                </div>
                <div class="row" ng-if="data.check.section">
                    <div class="col">标段：{{data.check.section.name}}</div>
                </div>
                <div class="row" ng-if="data.check.branch">
                    <div class="col">分部：{{data.check.branch.name}}</div>
                </div>
                <div class="row">
                    <div class="col">用表：{{data.check.table.name}}</div>
                </div>
                <div class="row">
                    <div class="col">对象：{{data.check.object}}</div>
                </div>

                <div class="row">
                    <div class="col">存在隐患：</div>
                </div>
                <div class="row" ng-repeat="item in data.checked_items">
                    <div class="col assertive">
                        {{$index + 1}}. ({{item.full_index}}) {{item.name}} {{item.comments}}
                        <ul style="display: block; padding: 6px; list-style: none;">
                            <li ng-repeat="image in item.images" style="display: inline-block; position: relative; list-style: none; margin-right: 12px;">
                                <img ng-if="!image.url" ng-src="{{image.uri}}" width="64">
                                <img ng-show="image.url" ng-src="{{baseUrl}}{{image.url}}" width="64">
                                <i ng-show="image.url" class="icon ion-checkmark-circled" style="color: #58AA89;display: block;position: absolute;bottom: 6px;right: 4px;font-size: 20px;"></i>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row" ng-if="data.check.process.archives">
                    <div class="col">整改处理意见：</div>
                </div>
                <div class="col positive" ng-if="data.check.process.archives">
                    <div ng-repeat="item in data.check.process.archives">
                        {{item.user.name}}: {{item.comment}}
                        <br>
                        <div class="row">
                            <ul style="display: block; padding: 6px; list-style: none;">
                                <li ng-repeat="image in item.images" style="display: inline-block; position: relative; list-style: none; margin-right: 12px;">
                                    <img ng-if="!image.url" ng-src="{{image.uri}}" width="64">
                                    <img ng-show="image.url" ng-src="{{baseUrl}}{{image.url}}" width="64">
                                    <i ng-show="image.url" class="icon ion-checkmark-circled" style="color: #58AA89;display: block;position: absolute;bottom: 6px;right: 4px;font-size: 20px;"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="list" ng-if="data.files">
            <h4>生成报告下载地址：</h4>
            <div ng-repeat="item in data.files">
                <textarea style="-moz-user-select: text;-webkit-user-select: text;-ms-user-select: text;">{{baseUrl}}/docx/{{data.checkId}}_{{item}}.docx</textarea>
            </div>
        </div>

        <div class="button-bar">
            <button class="button button-positive" ng-click="toTable()" ng-if="data.isOffline || (data.check.process.active == false && data.check.process.status == '')">
                继续打分
            </button>
            <button class="button button-positive" ng-click="save()" ng-if="data.isOffline">
                保存同步
            </button>

            <button class="button button-positive" ng-click="toProcess()" ng-if="!data.isOffline && data.check.process.active == false && data.check.process.status == ''">
                整改通知
            </button>
            <button class="button button-positive" ng-click="docxgen()" ng-if="!data.isOffline && data.check.process.active == false && data.check.process.status == 'END'">
                生成报告
            </button>
        </div>


                <!-- <div class="row" ng-if="data.check.rectification_criterion">
                    <div class="col">整改要求：</div>
                </div>
                <div class="col positive" ng-if="data.check.rectification_criterion">
                    {{data.check.rectification_criterion}}
                </div>

                <div class="row" ng-if="data.check.rectification_result">
                    <div class="col">整改情况：</div>
                </div>
                <div class="col positive" ng-if="data.check.rectification_result">
                    {{data.check.rectification_result}}
                </div>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#" ng-click="toTable()" ng-show="data.check.check_user._id == data.user._id && !data.check.process_status">
                    <i class="icon ion-compose"></i>
                    打分
                </a>
                <a class="tab-item" href="#" ng-click="toCriterion()" ng-hide="data.check.process_status == 'BACKWARD' || data.check.process_status == 'END'">
                    <i class="icon ion-paper-airplane"></i>
                    下达
                </a>
                <a class="tab-item" href="#" ng-click="toRectification()" ng-hide="data.check.process_status == 'BACKWARD' || data.check.process_status == 'END'">
                    <i class="icon ion-paper-airplane"></i>
                    整改
                </a>
                <a class="tab-item" href="#" ng-click="backward()" ng-show="data.check.check_user._id != data.user._id && data.check.process_status == 'BACKWARD'">
                    <i class="icon ion-paper-airplane"></i>
                    提交
                </a>
                <a class="tab-item" href="#" ng-click="end()" ng-show="data.check.check_user._id == data.user._id && data.check.process_status == 'BACKWARD'">
                    <i class="icon ion-paper-airplane"></i>
                    验收
                </a>
            </div> -->
    </ion-content>
</ion-view>
