<ion-view title="detail">
    <ion-header-bar align-title="center" class="bar-calm">
        <button class="button" ng-click="toBack()">返回</button>
        <h1 class="title">日常巡检</h1>
        <button class="button icon ion-trash-a" ng-click="remove()" ng-if="data.isOffline"></button>
    </ion-header-bar>

    <ion-content padding="true">
        <div class="list card">
            <div class="item text-center">
                <p>检查编号：{{data.check.uuid}}</p>
                <p>检查日期：{{data.check.date | date: 'yyyy年MM月dd日'}}</p>
                <p>检查人：{{data.check.user.name}}【{{data.check.unit.name}}】</p>
            </div>

            <div class="item item-body padding">
                <div class="row">
                    <div class="col">项目：{{data.check.project.name}}</div>
                </div>
                <div class="row" ng-if="data.check.section">
                    <div class="col">标段：{{data.check.section.name}}</div>
                </div>
                <div class="row" ng-if="data.check.branch">
                    <div class="col">分部：{{data.check.branch.name}}</div>
                </div>
                <div class="row">
                    <div class="col">用表：{{data.check.table.name}}</div>
                </div>
                <div class="row">
                    <div class="col">对象：{{data.check.object}}</div>
                </div>

                <div class="row">
                    <div class="col">存在隐患：</div>
                </div>
                <div class="row" ng-repeat="item in data.checked_items">
                    <div class="col assertive">
                        {{$index + 1}}. ({{item.full_index}}) {{item.comments}}
                        <div style="padding: 6px;" ng-show="item.images">
                            <img ng-src="{{image}}" ng-repeat="image in item.images" width="64" height="64">
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="data.check.process.archives">
                    <div class="col">整改处理意见：</div>
                </div>
                <div class="col positive" ng-if="data.check.process.archives">
                    <div ng-repeat="item in data.check.process.archives">{{item.user.name}}: {{item.comment}}</div>
                </div>
            </div>
        </div>

        <div class="button-bar">
            <button class="button button-positive" ng-click="toTable()" ng-if="data.check.process.active == false && data.check.process.status == ''">
                继续打分
            </button>
            <button class="button button-positive" ng-click="toProcess()" ng-if="!data.isOffline && data.check.process.active == false && data.check.process.status == ''">
                整改通知
            </button>
            <button class="button button-positive" ng-click="save()" ng-if="data.isOffline">
                保存同步
            </button>
        </div>


                <!-- <div class="row" ng-if="data.check.rectification_criterion">
                    <div class="col">整改要求：</div>
                </div>
                <div class="col positive" ng-if="data.check.rectification_criterion">
                    {{data.check.rectification_criterion}}
                </div>

                <div class="row" ng-if="data.check.rectification_result">
                    <div class="col">整改情况：</div>
                </div>
                <div class="col positive" ng-if="data.check.rectification_result">
                    {{data.check.rectification_result}}
                </div>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#" ng-click="toTable()" ng-show="data.check.check_user._id == data.user._id && !data.check.process_status">
                    <i class="icon ion-compose"></i>
                    打分
                </a>
                <a class="tab-item" href="#" ng-click="toCriterion()" ng-hide="data.check.process_status == 'BACKWARD' || data.check.process_status == 'END'">
                    <i class="icon ion-paper-airplane"></i>
                    下达
                </a>
                <a class="tab-item" href="#" ng-click="toRectification()" ng-hide="data.check.process_status == 'BACKWARD' || data.check.process_status == 'END'">
                    <i class="icon ion-paper-airplane"></i>
                    整改
                </a>
                <a class="tab-item" href="#" ng-click="backward()" ng-show="data.check.check_user._id != data.user._id && data.check.process_status == 'BACKWARD'">
                    <i class="icon ion-paper-airplane"></i>
                    提交
                </a>
                <a class="tab-item" href="#" ng-click="end()" ng-show="data.check.check_user._id == data.user._id && data.check.process_status == 'BACKWARD'">
                    <i class="icon ion-paper-airplane"></i>
                    验收
                </a>
            </div> -->
    </ion-content>
</ion-view>
