<ion-view title="detail">
    <ion-header-bar align-title="center" class="bar-calm">
        <button class="button" ng-click="toBack()">返回</button>
        <h1 class="title">日常巡检</h1>
    </ion-header-bar>

    <ion-content padding="true">
        <div class="list card">
            <div class="item text-center">
                <p>检查编号：{{data.check.uuid}}</p>
                <p>检查日期：{{data.check.date | date: 'yyyy年MM月dd日'}}</p>
                <p>检查人：{{data.check.user.name}}【{{data.check.unit.name}}】</p>
            </div>

            <div class="item item-body padding">
                <div class="row">
                    <div class="col">项目：{{data.check.project.name}}</div>
                </div>
                <div class="row" ng-if="data.check.section">
                    <div class="col">标段：{{data.check.section.name}}</div>
                </div>
                <div class="row" ng-if="data.check.branch">
                    <div class="col">分部：{{data.check.branch.name}}</div>
                </div>
                <div class="row">
                    <div class="col">类型：{{data.check.table.type}}</div>
                </div>
                <div class="row">
                    <div class="col">项目：{{data.check.table.name}}</div>
                </div>
                <div class="row">
                    <div class="col">对象：{{data.check.object}}</div>
                </div>

                <div class="row">
                    <div class="col">存在隐患：</div>
                </div>
                <div class="col assertive" ng-repeat="item in data.check.checked_items">
                    {{$index + 1}}. ({{item.full_index}}) {{item.comments}}
                    <div>
                        <img ng-src="{{item.image_url}}" ng-show="item.image_url" width="64" height="64">
                    </div>
                </div>

                <div class="row" ng-if="data.capture.process.archives.length == 0" ng-click="openModal($event)">
                    <hr>
                    <div>检查人员：</div>
                    <br>
                    <div>{{ data.others | checked }}</div>
                </div>
                <hr>

                <div class="row" ng-if="data.check.process.archives">
                    <div class="col">整改要求：</div>
                </div>
                <div class="col positive" ng-if="data.check.process.archives">
                    <div ng-repeat="item in data.check.process.archives">{{item.user.name}}: {{item.comment}}</div>
                </div>

                <div class="row" ng-if="data.check.process.archives.length == 0 || data.check.process.status == 'FORWARD'">
                    <div class="col">整改责任人：</div>
                    <div class="col item-select">
                        <select style="max-width: 100%; padding: 5px 24px 5px 16px; border: 1px solid #eee;" ng-model="data.next.user" ng-options="item as item.name for item in data.next.users">
                            <option value="" selected></option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col" ng-if="data.check.process.archives.length == 0 || data.check.process.status == 'FORWARD' || data.check.process.status == 'REVERT'">整改情况：</div>
                    <div class="col" ng-if="data.check.process.status == 'BACKWARD'">意见：</div>
                </div>
                <div class="row">
                    <textarea ng-model="data.current.comment" rows="5" style="border: 1px solid #eee;"></textarea>
                </div>

                <div class="list" ng-repeat="image in data.images">
                    <img ng-src="{{image.uri}}" width="64" height="64">
                </div>

                <button class="button button-block button-positive" ng-click="capture()" ng-if="data.capture.process.status == 'BACKWARD' || data.capture.process.status == 'REVERT'">
                    拍照
                </button>
            </div>

            <div class="button-bar">
                <button class="button button-positive" ng-click="forward()" ng-show="data.check.process.archives.length == 0 || data.check.process.status == 'FORWARD'">
                    下达
                </button>
                <button class="button button-positive" ng-click="reverse()" ng-show="data.check.process.status == 'FORWARD'">
                    整改
                </button>
                <button class="button button-positive" ng-click="revert()" ng-show="data.check.process.status == 'BACKWARD'">
                    打回
                </button>
                <button class="button button-positive" ng-click="restore()" ng-show="data.check.process.status == 'REVERT'">
                    重新提交
                </button>
                <button class="button button-positive" ng-click="backward()" ng-show="data.check.process.status == 'BACKWARD' && data.check.process.sequences.length > 0">
                    提交
                </button>
                <button class="button button-positive" ng-click="end()" ng-show="data.check.process.status == 'BACKWARD' && data.check.process.sequences.length == 0">
                    验收
                </button>
            </div>

            <script id="others-modal.html" type="text/ng-template">
                <ion-modal-view>
                    <ion-header-bar>
                        <button class="button icon ion-arrow-left-a" ng-click="closeModal()"></button>
                        <h1 class="title">其他检查人员</h1>
                    </ion-header-bar>
                    <ion-content>
                        <div class="list">
                            <ion-checkbox ng-repeat="item in data.otherUsers" ng-model="item.checked" ng-checked="item.checked">
                                {{ item.name }}
                            </ion-checkbox>
                        </div>
                    </ion-content>
                </ion-modal-view>
            </script>
        </div>
    </ion-content>
</ion-view>
