<ion-view title="welcome">
    <ion-header-bar align-title="center" class="bar-light">
        <h1 class="title">平安工地</h1>
        <button class="button icon ion-gear-a" ng-click="setServerAddr()"></button>
    </ion-header-bar>

    <ion-content padding="true">
        <div class="text-center padding">
            <img src="img/appicon.png" alt="平安工地" width="64" height="64">
        </div>

        <a ui-sref="administrator.login" class="button button-block button-positive button-50">
            行业主管
        </a>

        <a ui-sref="manager.login" class="button button-block button-positive button-50">
            安全管理
        </a>

        <a href="#" class="button button-block button-positive button-50">
            一线人员
        </a>

        <a ui-sref="offline.dashboard" class="button button-block button-positive button-50">
            离线用户
        </a>
    </ion-content>
</ion-view>