<button class="btn btn-primary" ui-sref="^.list">返回</button>
<button class="btn btn-primary" ng-click="update()" ng-disabled="form.$invalidx">保存</button>
<button class="btn btn-primary" ng-click="publish()" ng-disabled="form.$invalid || data.category.status === 'PUBLISH'">发布</button>
<button class="btn btn-primary" ng-click="withdraw()" ng-disabled="form.$invalid || data.category.status !== 'PUBLISH'">撤销发布</button>

<div class="container">
    <ng-form class="form-horizontal" name='form'>

        <div class="form-group">
            <label class="col-md-2 control-label">发布状态</label>
            <label class="col-md-2 control-label">{{data.category.status}}</label>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">活动标题(*)</label>
            <div class="col-md-6">
                <input type="text" class="form-control" ng-model="data.category.title" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">活动描述(*)<br>建议60字以内</label>
            <div class="col-md-6">
                <textarea class="form-control" ng-model="data.category.desc" required></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">背景色(*)</label>
            <div class="col-md-2">
                <input colorpicker class="form-control" ng-model="data.category.color" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">城市(*)</label>
            <div class="col-md-2">
                <select ng-model="data.category.city" class="form-control">
                    <option value="">不限</option>
                    <option value="bj">北京</option>
                    <option value="sz">深圳</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">起始日期</label>
            <div class="col-md-2 input-group date" datepicker data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true" ng-model="data.category.start_date">
                <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">终止日期</label>
            <div class="col-md-2 input-group date" datepicker data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true" ng-model="data.category.end_date">
                <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">最后更新</label>
            <label class="col-md-2 control-label">{{data.category.last_modified}}</label>
        </div>

        <uploader ng-if="data.upToken" data-id="image" data-title="PC版题图" ng-model="data.category.image" data-uptoken="{{data.upToken}}"></uploader>
        <uploader ng-if="data.upToken" data-id="image_m" data-title="M版题图" ng-model="data.category.image_m" data-uptoken="{{data.upToken}}"></uploader>

        <div class="form-group">
            <div class="col-md-6">
                <sources ng-model="data.category.cars"></sources>
            </div>
            <div class="col-md-6">
                <selected ng-model="data.category.cars"></selected>
            </div>
        </div>
    </ng-form>
</div>