<ion-view title="detail">
    <ion-header-bar align-title="center" class="bar-calm">
        <button class="button" ng-click="toBack()">返回</button>
        <h1 class="title">安全检查</h1>
    </ion-header-bar>

    <ion-content padding="true">
        <div class="list card">
            <div class="item text-center">
                <h2>检查编号：{{data.check.uuid}}</h2>
                <p>检查日期：{{data.check.check_date | date: 'yyyy年MM月dd日'}}</p>
                <p>检查人：{{data.check.check_user.name}}【{{data.check.check_user.unit.name}}】</p>
                <p>当前处理人：{{data.check.process_current_user.name}}</p>
            </div>

            <div class="item item-body padding">
                <div class="row">
                    <div class="col">类型：{{data.check.table.type}}</div>
                </div>
                <div class="row">
                    <div class="col">项目：{{data.check.table.name}}</div>
                </div>
                <div class="row">
                    <div class="col">对象：{{data.check.check_target}}</div>
                </div>

                <div class="row">
                    <div class="col">存在隐患：</div>
                </div>
                <div class="col assertive" ng-repeat="item in data.rectifications">
                    {{$index + 1}}. {{item.name}}
                    <div>
                        <img ng-src="{{item.image_url}}" ng-show="item.image_url" width="64" height="64">
                    </div>
                </div>

                <div class="row" ng-if="data.check.rectification_criterion">
                    <div class="col">整改要求：</div>
                </div>
                <div class="col positive" ng-if="data.check.rectification_criterion">
                    {{data.check.rectification_criterion}}
                </div>

                <div class="row" ng-if="data.check.rectification_result">
                    <div class="col">整改情况：</div>
                </div>
                <div class="col positive" ng-if="data.check.rectification_result">
                    {{data.check.rectification_result}}
                </div>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#" ng-click="toTable()" ng-show="data.check.check_user._id == data.user._id && !data.check.process_status">
                    <i class="icon ion-compose"></i>
                    打分
                </a>
                <a class="tab-item" href="#" ng-click="toCriterion()" ng-hide="data.user.segment.is_leaf == true || data.check.process_status == 'BACKWARD' || data.check.process_status == 'END'">
                    <i class="icon ion-paper-airplane"></i>
                    下达
                </a>
                <a class="tab-item" href="#" ng-click="toRectification()" ng-hide="data.user.segment.is_leaf == false || data.check.process_status == 'BACKWARD' || data.check.process_status == 'END'">
                    <i class="icon ion-paper-airplane"></i>
                    整改
                </a>
                <a class="tab-item" href="#" ng-click="backward()" ng-show="data.check.check_user._id != data.user._id && data.check.process_status == 'BACKWARD'">
                    <i class="icon ion-paper-airplane"></i>
                    提交 
                </a>
                <a class="tab-item" href="#" ng-click="end()" ng-show="data.check.check_user._id == data.user._id && data.check.process_status == 'BACKWARD'">
                    <i class="icon ion-paper-airplane"></i>
                    验收
                </a>
            </div>
    </ion-content>
</ion-view>
