<ion-view>
    <ion-header-bar align-title="center" class="bar-calm">
        <h1 class="title">{{data.group.name}} [{{data.user.name}}]</h1>
        <button class="button icon ion-log-out" ng-click="logout()"></button>
    </ion-header-bar>

    <ion-content>
        <div id="map" class="map">
    </ion-content>

    <ion-footer-bar class="bar-positive">
        <div class="row" style="padding-top: 0; padding-bottom: 0;">
            <button class="button col" ng-click="toCapture()">我要标注</button>
            <button class="button col" ng-click="toCaptureList()">我的</button>
            <button class="button col" ng-click="toEvaluationList()">考核评价</button>
        </div>
    </ion-footer-bar>
</ion-view>